@import 'styles/atomic.css';
@import 'styles/base.css';
@import 'styles/fonts.css';
@import 'styles/variables.css';

.hero {
  padding: var(--padding-hero);
  text-transform: uppercase;
  text-align: center;
}

.hero .title {
  margin-bottom: 0.1em;
  font-size: 3.2em;
  margin-top: 0;
}

.hero .industry {
  margin-bottom: 0.2em;
  margin-top: 0;
}

.hero .owner {
  margin-bottom: 0;
  margin-top: 0;
}

.hero .headline {
  margin-bottom: 2em;
}

.hero p {
  margin-bottom: 0.4em;
  font-size: 1.1em;
  margin-top: 0;
}

.hero a {
  text-decoration: underline dotted;
  color: inherit;
}

.hero a:hover,
.hero a:focus-visible {
  background-color: white;
  outline-color: white;
  outline-style: solid;
  outline-width: 0.2em;
  outline-offset: 0;
  color: black;
}
