:root {
  --bg-color-body: black;
  --bg-color-input: rgba(255, 255, 255, 0.2);
  --bg-img-fabric-sm: url('../assets/fabric_520x768.webp');
  --bg-img-fabric-md: url('../assets/fabric_1024x800.webp');
  --bg-img-fabric-lg: url('../assets/fabric_1500x1200.jpeg');
  --bg-img-mill-sm: url('../assets/mill_520x768.webp');
  --bg-img-mill-md: url('../assets/mill_1024x800.webp');
  --bg-img-mill-lg: url('../assets/mill_1500x1200.webp');
  --bg-img-tarp1-sm: url('../assets/tarp1_520x768.webp');
  --bg-img-tarp1-md: url('../assets/tarp1_1024x800.webp');
  --bg-img-tarp1-lg: url('../assets/tarp1_1500x1200.jpeg');
  --bg-img-tarp2-sm: url('../assets/tarp2_520x768.webp');
  --bg-img-tarp2-md: url('../assets/tarp2_1024x800.webp');
  --bg-img-tarp2-lg: url('../assets/tarp2_1500x1200.webp');
  --color-font: white;
  --color-status-error: #893434;
  --color-status-error-10-lighten: color-mix(in oklab, var(--color-status-error) 10%, white);
  --color-status-error-40-lighten: color-mix(in oklab, var(--color-status-error) 40%, white);
  --color-status-neutral: #006ebd;
  --color-status-neutral-10-lighten: color-mix(in oklab, var(--color-status-neutral) 10%, white);
  --color-status-neutral-40-lighten: color-mix(in oklab, var(--color-status-neutral) 40%, white);
  --color-status-success: #427b42;
  --color-status-success-10-lighten: color-mix(in oklab, var(--color-status-success) 10%, white);
  --color-status-success-40-lighten: color-mix(in oklab, var(--color-status-success) 40%, white);
  --font-size-body-sm: 120%;
  --font-size-body-md: 150%;
  --font-family: 'Handwriting', 'Courier New', Courier, monospace;
  --padding-hero: 1rem;
}
